n8n/workflows/music-recommendation-engine.json
{
  "name": "EchoTune AI - Music Recommendation Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recommendation-trigger",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Recommendation Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [50, 300],
      "typeVersion": 1,
      "webhookId": "recommendation-engine"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "listening_history",
        "query": "=[\n  {\n    \"$match\": {\n      \"user_id\": \"{{ $json.body.user_id }}\"\n    }\n  },\n  {\n    \"$group\": {\n      \"_id\": \"$artist_name\",\n      \"play_count\": { \"$sum\": 1 },\n      \"tracks\": { \"$addToSet\": \"$track_name\" }\n    }\n  },\n  {\n    \"$sort\": { \"play_count\": -1 }\n  },\n  {\n    \"$limit\": 10\n  }\n]"
      },
      "id": "analyze-listening-patterns",
      "name": "Analyze User Patterns", 
      "type": "n8n-nodes-base.mongoDb",
      "position": [250, 300],
      "typeVersion": 1,
      "credentials": {
        "mongoDb": {
          "id": "mongodb-echotune",
          "name": "EchoTune MongoDB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "body": {
          "model": "gpt-4o",
          "messages": [
            {
              "role": "system",
              "content": "You are a music recommendation expert. Analyze the user's listening patterns and suggest 5 new artists or songs they might like."
            },
            {
              "role": "user", 
              "content": "=Based on this listening data: {{ JSON.stringify($json) }}, recommend music that matches their taste."
            }
          ],
          "max_tokens": 500,
          "temperature": 0.7
        }
      },
      "id": "ai-recommendations",
      "name": "Generate AI Recommendations",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "operation": "insertOne",
        "collection": "recommendations",
        "fields": {
          "customFieldsUi": {
            "customFields": [
              {
                "fieldId": "user_id",
                "fieldValue": "={{ $('Recommendation Webhook').item.json.body.user_id }}"
              },
              {
                "fieldId": "recommendations",
                "fieldValue": "={{ $json.choices[0].message.content }}"
              },
              {
                "fieldId": "created_at",
                "fieldValue": "={{ new Date().toISOString() }}"
              },
              {
                "fieldId": "source_data",
                "fieldValue": "={{ JSON.stringify($('Analyze User Patterns').item.json) }}"
              }
            ]
          }
        }
      },
      "id": "store-recommendations",
      "name": "Store Recommendations",
      "type": "n8n-nodes-base.mongoDb",
      "position": [650, 300], 
      "typeVersion": 1,
      "credentials": {
        "mongoDb": {
          "id": "mongodb-echotune",
          "name": "EchoTune MongoDB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/webhooks/recommendation-complete",
        "body": {
          "user_id": "={{ $('Recommendation Webhook').item.json.body.user_id }}",
          "recommendations": "={{ $('Generate AI Recommendations').item.json.choices[0].message.content }}",
          "status": "completed"
        }
      },
      "id": "notify-app",
      "name": "Notify EchoTune App",
      "type": "n8n-nodes-base.httpRequest",
      "position": [850, 300],
      "typeVersion": 4.1
    }
  ],
  "connections": {
    "Recommendation Webhook": {
      "main": [
        [
          {
            "node": "Analyze User Patterns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze User Patterns": {
      "main": [
        [
          {
            "node": "Generate AI Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Recommendations": {
      "main": [
        [
          {
            "node": "Store Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Recommendations": {
      "main": [
        [
          {
            "node": "Notify EchoTune App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "echotune-ai"
  },
  "id": "music-recommendation-engine",
  "tags": [
    {
      "createdAt": "2025-01-17T17:00:00.000Z",
      "updatedAt": "2025-01-17T17:00:00.000Z",
      "id": "ai-recommendations",
      "name": "AI Recommendations"
    },
    {
      "createdAt": "2025-01-17T17:00:00.000Z", 
      "updatedAt": "2025-01-17T17:00:00.000Z",
      "id": "mongodb-analytics",
      "name": "MongoDB Analytics"
    }
  ]
}