n8n/workflows/spotify-data-processing.json
{
  "name": "EchoTune AI - Spotify Data Processing",
  "nodes": [
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.spotify.com/v1/me/player/currently-playing",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {}
      },
      "id": "spotify-current-track",
      "name": "Get Current Spotify Track",
      "type": "n8n-nodes-base.httpRequest",
      "position": [250, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "operation": "insertOne",
        "collection": "listening_history",
        "fields": {
          "customFieldsUi": {
            "customFields": [
              {
                "fieldId": "track_id",
                "fieldValue": "={{ $json.item.id }}"
              },
              {
                "fieldId": "track_name", 
                "fieldValue": "={{ $json.item.name }}"
              },
              {
                "fieldId": "artist_name",
                "fieldValue": "={{ $json.item.artists[0].name }}"
              },
              {
                "fieldId": "played_at",
                "fieldValue": "={{ new Date().toISOString() }}"
              },
              {
                "fieldId": "duration_ms",
                "fieldValue": "={{ $json.item.duration_ms }}"
              }
            ]
          }
        }
      },
      "id": "mongodb-insert",
      "name": "Store in MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "position": [450, 300],
      "typeVersion": 1,
      "credentials": {
        "mongoDb": {
          "id": "mongodb-echotune",
          "name": "EchoTune MongoDB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/chat/process-spotify-data",
        "body": {
          "track": "={{ $('Get Current Spotify Track').item.json }}"
        },
        "options": {
          "headers": {
            "customHeaders": {
              "customHeader": [
                {
                  "name": "Authorization",
                  "value": "Bearer {{ $env.API_KEY }}"
                }
              ]
            }
          }
        }
      },
      "id": "ai-processing",
      "name": "AI Music Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "position": [650, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.cron",
      "position": [50, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "track-playing-condition",
              "leftValue": "={{ $json.is_playing }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-playing",
      "name": "If Track Playing",
      "type": "n8n-nodes-base.if",
      "position": [350, 300],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Current Spotify Track",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Spotify Track": {
      "main": [
        [
          {
            "node": "If Track Playing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Track Playing": {
      "main": [
        [
          {
            "node": "Store in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in MongoDB": {
      "main": [
        [
          {
            "node": "AI Music Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "echotune-ai"
  },
  "id": "spotify-data-processing",
  "tags": [
    {
      "createdAt": "2025-01-17T17:00:00.000Z",
      "updatedAt": "2025-01-17T17:00:00.000Z", 
      "id": "spotify",
      "name": "Spotify Integration"
    },
    {
      "createdAt": "2025-01-17T17:00:00.000Z",
      "updatedAt": "2025-01-17T17:00:00.000Z",
      "id": "ai-analysis", 
      "name": "AI Analysis"
    }
  ]
}